.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #afafaf;
    padding: 1em;
    

   
 
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.iten {
    margin-right: 4em;
    font-size: 20px;

}

.iten a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

.iten a:hover {
    color: #ffbb33;
}

.logo {
    height: 70px;
    border-radius: 50px;
}
